.banner {
    position: relative;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    margin: 1rem;
    background-color: var(--color-light-gray);
    &__background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        object-fit: cover;
        opacity: .2;
        pointer-events: none;
    }
}

.banner-top .banner__left {
    flex-basis: 40%;
    padding-right: 1rem;
}

.banner-top .banner__left > .banner__hairline {
    color: var(--color-dark-gray);
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: -.07rem;
}

.banner-top .banner__left > .banner__title {
    display: block;
    color: var(--color-dark-gray);
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -.05rem;
}

.banner-top .banner__right {
    flex-basis: 60%;
}

.banner-top .banner__text {
    margin: 0;
    color: var(--color-dark-gray);
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: -.05rem;
}

.banner-top .icon-button {
    display: none;
}


@media all and (min-width: 500px) {
    .banner-top .banner__left {
        flex-basis: 30%;
    }

    .banner-top .banner__right {
        flex-basis: 70%;
    }
}


@media all and (min-width: 768px) {
    .banner-top .banner__left {
        flex-basis: 20%;
    }

    .banner-top .banner__right {
        flex-basis: 80%;
    }
}

@media all and (min-width: 1100px) {
    .banner {
        margin: 0;
    }

    .banner-top .banner__text,
    .banner-top .banner__left > .banner__hairline {
        font-size: 1rem;
    }

    .banner-top .banner__left > .banner__title {
        font-size: 1.5rem;
        letter-spacing: 0;
    }

    .banner-top .icon-button {
        display: block;
        margin-left: 2rem;
    }
}
