.icon-button {
    padding: 0;
    border: 0;
    background-color: transparent;
}

.icon-button[aria-label="thumbs up"] {
    background-color: rgba(var(--color-green-positive), .8);
}

.icon-button[aria-label="thumbs up"]:hover {
    background-color: rgba(var(--color-green-positive), 1);
}

.icon-button[aria-label="thumbs down"] {
    background-color: rgba(var(--color-yellow-negative), .8);
}

.icon-button[aria-label="thumbs down"]:hover {
    background-color: rgba(var(--color-yellow-negative), 1);
}

.icon-button > img {
    width: 100%;
    height: 100%;
}
